.header-bg {
  background-color: #28293e;
}

.btn-contact {
  background-color: #28293e;
  border: 1px solid #37384c;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
}

body {
  font-family: "Epilogue", sans-serif;
}
.orange.btn {
  background-color: #ef6d58 !important;
  color: white !important;
  text-decoration: none !important;
}

.orange.btn:hover {
  background-color: #ef6d58 !important;
  color: white !important;
  text-decoration: none !important;
}

.highlight-box {
  display: inline-block;
  font-size: 12px;
  color: #f25757;
  font-weight: 500;
  letter-spacing: 0.4rem;
}

#home-p {
  color: #757682;
}

.home-p {
  color: #757682;
}

.second-section-bg {
  background-color: #fdf0e9;
}

.logo-wrapper {
  width: 140px; /* You can adjust this */
  aspect-ratio: 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.logo-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.vertical-line {
  color: #f3d1bf;
  border: 1px solid;
}

.white.btn {
  background-color: white !important;
  color: black !important;
  text-decoration: none !important;
}

.white.btn:hover {
  background-color: white !important;
  color: black !important;
  text-decoration: none !important;
}

.stat-box {
  background-color: #fdf0e9;
  padding: 2rem;
  border: 1px solid #f3d1bf;
  text-align: start;
}

.stat-number {
  font-weight: 700;
  font-size: 1.5rem;
  color: #4b2e1f;
}

.stat-label {
  font-size: 0.9rem;
  color: #4b2e1f;
}

.read-more {
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.description {
  color: #391400a3;
}

.numbered-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.numbered-item h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-right: 1rem;
}

.numbered-item p {
  margin: 0;
  font-weight: 600;
}

.play-button {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.video-duration {
  font-size: 0.9rem;
  background-color: #771e13;
  border-radius: 5px;
}

.category-tag {
  display: inline-block;
  background: white;
  color: #111;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.6rem;
  border-radius: 20px;
}

.images img {
  height: 416px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.image {
  background-color: #111;
  padding: 10px;
  border-radius: 8px;
}

.link-color {
  color: #b1b2b9;
}

.superscript {
  font-size: 0.9em;
  vertical-align: super;
  margin-left: 2px;
}

.img-span {
  border-radius: 20px;
}

.btn-explorer {
  border: 1px solid #37384c !important;
}

.reactangle {
  background-color: #fdf0e9;
  min-height: 350px;
}

.img-fixer {
  margin-top: -70px;
  margin-left: 25px;
}

.get-started {
  font-size: 12px;
  color: #f25757;
  font-weight: 500;
  letter-spacing: 0.4rem;
  margin-top: 100px;
  /* padding-left: 60px; */
}

.try {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* LADY IMAGE ON RIGHT */
.lady-container {
  position: absolute;
  right: 20px;
  bottom: 0;
}

.lady-img {
  height: 370px;
  object-fit: contain;
}
